body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    max-width: 42em;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

button {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.form-control {
    height: 2em;
    padding: 0.5em 0.5em;
    font-size: inherit;
}

.subtitle {
    font-size: 20px;
    font-style: italic;
}

.container {
    width: 100%;
}

.important {
    color: red;
    font-weight: bold;
}

.outline {
    margin: auto;
    border: 3px solid rgb(198, 212, 177);
}

.question {
    font-weight: bold;
}

input#offer, input#submitOffer {
    margin-bottom: 15px;
}

table#quest td {
    width: 550px;
    text-align: left;
    padding: 5px 10px;
}

.circle-badge {
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50px;
    background: rgb(199, 231, 236);
    display: table-cell; 
    vertical-align: middle;
  }

.modal {
    position: absolute;
    top: 50px;
}